# =========================
# Terraform
# =========================
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
*.tfplan
terraform.tfvars
*.tfvars
!example.tfvars
override.tf
override.tf.json

# =========================
# IDE / Editor
# =========================
*.swp
*.swo

# =========================
# Kubernetes
# =========================
.kube/
*.kubeconfig.yaml

# =========================
# Secrets / Keys
# =========================
registry-key.json

# =========================
# Docker
# =========================
*.tar
*.img
docker-compose.override.yml

# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo

# =========================
# Trivy
# =========================
.trivydb/

# =========================
# OS / Misc
# =========================
.DS_Store
Thumbs.db
*.log